img {
    max-width: 100%;
    max-height: 100%;
}

html,
body {
      height: 100%;
      padding: 0;
      margin: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -220px;
    /* Pad bottom by footer height */
    padding: 0 0 220px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 220px;
}

.course-image {
    position: relative;
    margin-bottom: 10px;
    text-align: right;
}

.attribution {
    position: absolute;
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.7;
    width: 100%;
    bottom: 0;
    left:0;
}
