---
layout: base
itemtype: http://schema.org/WebPage
---
<div class="row">
  <div class="sidebar col-sm-4">
    <img src="{{site.baseurl}}{{ site.data.course.image }}">
 
    <ul class="nav nav-list">
    {% for subpage in site.categories.content reversed %}
      <li> <a href="{{site.baseurl}}{{ subpage.url }}">{{subpage.title}}</a></li>
    {% endfor %}
    </ul>

  </div>

  <div class="content col-sm-8">
    <h2>About</h2>
    {{ content }}
 
    <h2>Organizers</h2>
    <ul class="list-unstyled">
    {% for user in site.data.course.organizers %}
      <li class="col-sm-2"><a href="{{ user.url }}"><img class="" src="{{ user.image }}" alt="{{ user.name }}"></a></li>
    {% endfor %}
    </ul>
  </div>
</div>
