---
layout: base
---
{% assign course_category = page.categories[0] %}
{% assign course=site.data.course[course_category] %}

<div class="row">
  <div class="sidebar col-sm-4">
    {% include course_thumb.html course=course %}

    <ul class="nav nav-pills nav-stacked">
      <li><a href="{{site.baseurl}}/{{course.category}}">About</a></li>
    {% for subpage in site.categories[course.category] reversed %}
      <li class="{% if subpage.title == page.title %}active{% endif %}" > <a href="{{site.baseurl}}{{ subpage.url }}">{{subpage.title}}</a></li>
    {% endfor %}
    </ul>
  </div>

  <div class="content col-sm-8">
    {{ content }}
    {% if site.disqus_shortname %}
      <hr/>
      {% include disqus.html %}
    {% endif %}
  </div>

</div>

