---
layout: base
itemtype: http://schema.org/WebPage
---
{% assign course=site.data.course[page.course] %}
<div class="row">
  <div class="sidebar col-sm-4">
    {% include course_thumb.html course=course %}
 
    <ul class="nav nav-pills nav-stacked">
    {% for b in site.categories[page.course] reversed %}
        <li> <a href="{{site.baseurl}}{{ b.url }}">{{b.title}}</a></li>
    {% endfor %}
    </ul>

  </div>

  <div class="content col-sm-8">
    <h2>About</h2>
    {{ content }}
 
  </div>
</div>
