---
layout: base
---
{% assign course_category = page.categories[0] %}
{% assign course=site.data.course[course_category] %}

<div class="row">
  <div class="sidebar col-sm-4">
    {% include course_thumb.html course=course %}

    <ul class="nav nav-pills nav-stacked">
    {% for subpage in site.categories[course.category] reversed %}
      <li class="{% if subpage.title == page.title %}active{% endif %}" > <a href="{{site.baseurl}}{{ subpage.url }}">{{subpage.title}}</a></li>
    {% endfor %}
    </ul>
  </div>

  <div class="content col-sm-8">
    {{ content }}

    <p><a href="https://github.com/p2pu/school-of-webmaking/edit/gh-pages/{{page.path}}">Edit on github</a></p>
    {% if site.disqus_shortname %}
      <hr/>
      {% include disqus.html %}
    {% endif %}
  </div>

</div>

