---
layout: base
itemtype: http://schema.org/WebPage
---
{% assign course=site.data.course[page.course] %}

<div class="row">
  <div class="sidebar col-sm-4">
    {% include course_thumb.html course=course %}
 
    <ul class="nav nav-pills nav-stacked">
      <li class="active" ><a href="{{site.baseurl}}/{{course.category}}">About</a></li>
    {% for b in site.categories[course.category] reversed %}
        <li> <a href="{{site.baseurl}}{{ b.url }}">{{b.title}}</a></li>
    {% endfor %}
    </ul>

  </div>

  <div class="content col-sm-8">
    <h2>About</h2>
    {{ content }}
 
    <p><a href="https://github.com/p2pu/school-of-webmaking/edit/gh-pages/{{page.path}}">Edit on github</a></p>
  </div>
</div>
