---
layout: default
---
{% assign course_category = page.categories[0] %}
{% assign course=site.data.course[course_category] %}

<div class="row">
  <div class="sidebar col-sm-4 hidden-xs">
    {% include course_thumb.html course=course %}
  </div>

  <div class="content col-sm-8 col-xs-12">
    {{ content }}

    <h1>Where to next?</h1>
    <ul class="nav navbar-nav bignav">
      {% assign course_category = page.categories[0] %}
      {% assign course=site.data.course[course_category] %}
      {% for subpage in site.categories[course.category] reversed %}
      <li class="{% if subpage.title == page.title %}active{% endif %}" > <a href="{{site.baseurl}}{{ subpage.url }}">{{subpage.title}}</a></li>
      {% endfor %}
      {% if course.category %}
      <li><a href="http://discourse.webmakerprototypes.org/category/training/{{course.category}}"><i class="fa fa-comments"></i> Discussion</a></li>
      {% endif %}
    </ul>
  </div>
</div>

